<!DOCTYPE html>
<html>
	<head>
		{{page "head"}}
	</head>
	<body onload='setBackground("{{item "background" "0"}}","{{item "background" "1"}}","{{item "background" "2"}}")' >
		<div style="position: fixed; top: 5%; left:5%; height: 60%; width: 50%; z-index: 0;">
			<div class="container" style="height: 90%">
				<div id="banner" class="row"> 
					<div class="col-xs-12">
						{{.Title}}
						{{page "banner"}}
					</div>
				</div>
				<div class="panel">
					<div class="row"> 
						<div class="col-xs-2">
							{{page "nav"}}
						</div>
						<div class="col-xs-10">
							<div class="row panel panel-default">
								<form action="/edit/addProduct" method="post">
									<span>
										Name: <input type="text" name="productName">
										Image: <input type="text" name="productImage">
									</span>
									Description: <input type="textarea" name="productDescription">
									<input type="submit" value="Add Product">
								</form>
							</div>
							<div class="row panel panel-default">
								<form enctype="multipart/form-data" action="/upload" method="post">
									<input type="file" name="uploadfile" />
									<!--<input type="hidden" name="token" value="{{.}}"/>-->
									<input type="hidden" name="redirect" value="/test"/>
									<input type="submit" value="upload" />
								</form>
								<!--{{page "body"}}-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>