		<meta charset="utf-8" />
		<title>{{.Title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/sens.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
		<script src="../js/bpgdec8a.js"></script>
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script> "use strict";
function setBackground(filename){
	var canvas = document.createElement("canvas");
	canvas.style.visibility = "hidden";
	canvas.width = $(document).width();
	canvas.height = $(document).height();
	document.body.appendChild(canvas);
	var ctx = canvas.getContext("2d");
	var img = new BPGDecoder(ctx);
	img.onload = function() {
		ctx.putImageData(this.imageData, 0, 0);
		document.body.style.background = "url('" + canvas.toDataURL("image/png") + "')";
	};
  	img.load(filename);
}
        </script>