<!DOCTYPE html>
<html>
	<head>
		{{page "head"}}
	</head>
	<body onload='setBackground("{{item "background" "0"}}","{{item "background" "1"}}","{{item "background" "2"}}")' >
		<div style="position: fixed; top: 5%; left:5%; height: 60%; width: 50%; z-index: 0;">
			<div class="container" style="height: 60%">
				{{page "banner"}}
				<div class="panel">
					<div class="row"> 
						<div class="col-xs-2">
							{{html "nav"}}
						</div>
						<div class="col-xs-10">
							<div class="container">
								<form action="/login" method="post">
									<span>
										User Name: <input type="text" name="UserName">
										Password: <input type="secret" name="Password">
									</span>
									<input type="submit" value="Login">
									<input type="hidden" name="postProcessingHandler" value="login">
									<input type="hidden" name="redirect" value="home">
								</form>
							</div>
						</div>
					</div>
					{{service "account" "getStatus"}}
				</div>
			</div>
		</div>
	</body>
</html>