<!DOCTYPE html>
<html>
	<head>
		{{page "head"}}
		<script>
			$(document).ready( function () { 
			} );
		</script>
	</head>
	<body onload='setBackground("{{item "background" "0"}}","{{item "background" "1"}}","{{item "background" "2"}}")' >
		<div style="position: fixed; top: 5%; left:5%; height: 60%; width: 50%; z-index: 0;">
			<div class="container" style="height: 60%">
				<div id="banner" class="row"> 
					{{page "banner"}}
				</div>
				<div class="panel">
					<div class="row"> 
						<div class="col-xs-2">
							{{menu "nav"}}
						</div>
						<div class="col-xs-10">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="position: fixed; bottom:-10%; right:5%; height: 50%; width: 60%; z-index: 1;">
			<img src="../img/salad/picnic_bench.png" width="100%" height="100%">
		</div>
		<div style="position: fixed; bottom: 18%; right:25%; height: 12%; width: 12%; z-index: 3;">
			<img src="../img/salad/Salad_platter.png" width="100%" height="100%">
		</div>
		<div style="position: fixed; bottom: 28%; right:20%; height: 10%; width: 10%; z-index: 2;">
			<img src="../img/Olive-Oil.png" width="100%" height="100%">
		</div>
		<div style="position: fixed; bottom: 26%; right:30%; height: 9%; width: 9%; z-index: 2;">
			<img src="../img/balsamics.png" width="100%" height="100%">
		</div>
	</body>
</html>