<!DOCTYPE html>
<html>
	<head>
		{{page "head"}}
	</head>
	<body onload='setBackground("{{item "background"}}")' >
		<div class="container">
			{{page "banner"}}
			<div class="row"> 
				<div class="col-xs-6 dfn strong panel"><h1>{{.Title}}</h1></div>
				<div class="col-xs-6"></div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					{{page "nav"}}
				</div>
				<div class="col-xs-10">
					<div class="container">
						<form action="/message" method="post">
							<span>
								Name: <input type="text" name="Name">
								Subject: <input type="text" name="message">
							</span>
							Description: <input type="textarea" name="productDescription">
							<input type="submit" value="Create Message">
						</form>
					</div>
					{{service "message" "Jarran" "getMessages" ""}}
				</div>
			</div>
		</div>
	</body>
</html>