<!DOCTYPE html>
<html>
	<head>
		{{page "head"}}
		{{ajax "url:test" "trigger:categories" "handler:categories" "target:categories"}}
		{{ajax "url:test" "trigger:products" "handler:products" "target:products"}}
	</head>
	<body onload='setBackground("{{item "background"}}")' >
		<div class="container">
			<div class="row"> 
				<div class="col-xs-6 dfn strong panel"><h1>{{.Title}}</h1></div>
				<div class="col-xs-6"></div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					{{page "nav"}}
				</div>
				<div class="col-xs-10">
					{{target "categories"}}
					{{target "products"}}
					<input id="categories-trigger" type="button" value="categories" />
					<input id="products-trigger" type="button" value="products" />
					<input id="selectedProduct" type="hidden" value="products" />
				</div>
			</div>
		</div>
	</body>
</html>