<!DOCTYPE html>
<html>
	<head>
		{{page "head"}}
		{{ajax  "var:selectedCategory" "var:lastSelectedCategory" "url:test" "trigger:categories" "handler:categories" "target:categories" `success:var ul = $( "<ul/>", {"class": "my-new-list"}); var obj = JSON.parse(data); $("#categories").empty(); $("#categories").append(ul); $.each(obj, function(i,val) { item = $(document.createElement('button')).text( i + '-/-' + val ); $(item).attr('onclick', 'selectedCategory = \"'+i+'\";'); ul.append( item ); ul.append( '<br/>' ); });`}}
		{{ajax  "var:selectedProduct" "url:test" "trigger:products" "handler:products" "target:products" "data:'selectedCategory':selectedCategory"}}
	</head>
	<body onload='setBackground("{{item "background"}}")' >
		<div class="container">
			<div class="row"> 
				<div class="col-xs-6 dfn strong panel"><h1>{{.Title}}</h1></div>
				<div class="col-xs-6"></div>
			</div>
			<div class="row">
				<div class="col-xs-2">
					{{page "nav"}}
				</div>
				<div class="col-xs-10">
					{{target "categories"}}
					{{target "products"}}
					<input id="categories-trigger" type="button" value="categories" />
					<input id="products-trigger" type="button" value="products" />
				</div>
			</div>
		</div>
	</body>
</html>